schedule-client/src/main/resources/META-INF/JobSchedule.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://localhost/schema/JobSchedule"
            targetNamespace="http://localhost/schema/JobSchedule"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">
    <xsd:element name="JobSchedule">
        <xsd:annotation>
            <xsd:documentation>本地开放端口</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="port" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation>本地接收调度请求开放的端口</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="appName" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation>本应用名称</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
