schedule-client/src/main/resources/META-INF/schcedule.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://localhost/schema/schedule"
            targetNamespace="http://localhost/schema/schedule"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">



    <xsd:import namespace="http://www.springframework.org/schema/tool" schemaLocation="http://www.springframework.org/schema/tool/spring-tool-3.2.xsd"/>


    <xsd:element name="config">
        <xsd:annotation>
            <xsd:documentation>本地开放端口</xsd:documentation>
        </xsd:annotation>
        <!--<xsd:complexType>-->
            <!--<xsd:attribute name="port" type="xsd:string" use="optional">-->
                <!--<xsd:annotation>-->
                    <!--<xsd:documentation>本地接收调度请求开放的端口</xsd:documentation>-->
                <!--</xsd:annotation>-->
            <!--</xsd:attribute>-->
            <!--<xsd:attribute name="appName" type="xsd:string" use="required">-->
                <!--<xsd:annotation>-->
                    <!--<xsd:documentation>本应用名称</xsd:documentation>-->
                <!--</xsd:annotation>-->
            <!--</xsd:attribute>-->
        <!--</xsd:complexType>-->
    </xsd:element>


    <!--<xsd:element name="annotation-driven">-->
        <!--<xsd:annotation>-->
            <!--<xsd:documentation><![CDATA[ .. ]]></xsd:documentation>-->
        <!--</xsd:annotation>-->
    <!--</xsd:element>-->
</xsd:schema>
